*, *::before, *::after{
    box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--dark-Gray: hsl(0, 0%, 55%);
--very-dark-Gray: hsl(0, 0%, 41%);
font-size: 15px;

}

/*

font-family: 'Alata', sans-serif;

font-family: 'Josefin Sans', sans-serif;

*/

/*
- Mobile: 375px
- Desktop: 1440px
*/

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;   
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    
}


.nav{
    visibility: visible;
    margin-top: 2em;
   
}




.nav-toggle{
    display: none;
}

.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__link{
    color: #fff;
    text-decoration: none;
}
.nav__item{

}


.nav__item + .nav__item{
    margin-left: 1rem;
}

.nav__link:hover{

}

/* .hero > img{
    position: absolute;
} */

.hero{
    background-image: url(images/desktop/image-hero.jpg);
    height: 100vh;
}

.img-logo {
    position: relative;
    margin-top: 2em;
}

/* Original navbar setting
.nav{
    position: relative;
    margin-top: 2em;
    display: block; 
}

  a{
    margin-left: 1.8em;
    text-decoration: none;
    color: var(--White);

}
 */

.bodyPart1{
    font-family: 'Josefin Sans';
    font-weight: 300;
    background-color: var(--White);
    width: 1440px;
    height: 600px;
    display: flex;
}

.vrImg{
   padding: 100px;
    width: 700px;
    height: 500px;
    
    
}
.vrText{
    width: 400px;
    height: 400px;
    background-color: var(--White);
    text-align: center;
    margin-right: 400px;
    /*margin-top: 300px;*/
    padding: 50px;
    
} */

.bodyPart1{
    display: flex;
}

.col{
    position: relative;
}

.col > h3 {
    position: absolute;
    bottom: 2.5rem;
    left: 2rem;
    color: var(--White);
    text-transform: uppercase;


}

.hero-text > h1{
    position: absolute;
    margin-top: 3em;
    border:2px solid var(--White);
    color: var(--White);
    font-size: 4em;
    text-transform: uppercase;
    padding: 0.5em 1.5em 0.5em 0.5em;

}
.col + .col{
}

.bodyPart2--header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.bodyPart2--header > h2{
    align-self: baseline;
    text-transform: uppercase;
}

.bodyPart2--header > a {
    align-self: baseline;
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    border: 1px solid black;

}

img {
    max-width: 100%;
}



/**** Pre-coded

*/

.footer{
    background-color: var(--Black);
    display: flex;
}
.footer-lside{
    padding: 20px;


}
.f-logo-div{
    margin-left: 70px;
    
}
.f-logo{
    width: 30%;
}
.f-menu{
    display: flex;

}
.list-item{

}
.footer-rside{
    color: var(--White);
    padding: 20px;
    margin-left: 300px;
}

.btn{
    color: var(--Black);
}



@media (max-width: 665px){

    img{
        width: 100%;
    }
    .hero{
            background-image: url(images/mobile/image-hero.jpg);
            background-size: cover;
            
        }

        .col > img{

        }
    .bodypart2-image{
        position: relative;
        display: block;
    }

    .hero-text{
            text-align: center;
        }

    .bodyPart2--header{
        }

    .bodyPart2--header > h2{
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 2rem;
            /* justify-content: center;;
            border: 2px solid red; */
        }

    .bodyPart2--header > a{
            display: none;
            border: 2px solid pink;
        }

    .hero-text > h1{
            border: 2px solid white:hsl(0, 0%, 0%);
            margin: 8em 0;
            text-transform: uppercase;
            color: var(--White);
            padding: .5em 2em .5em .5em;
            font-size: 2em;
        }
   
    .nav{
        visibility: hidden;
        height: 0;
        position: absolute;
    }

    .nav-toggle {
        display:inline;
        margin-top: 2em;
        cursor: pointer;
        border: 0;
        width: 3em;
        height: 3em;
        padding: 0em;
        border-radius: 50%;
        background: #072A2D;
        color: white;
        transition: opacity 250ms ease;
        position: relative;
        right: 0;
    }

    
.hamburger {
    width: 50%;
    position: relative;
    border: 
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav__list{
    /* padding: 0;
    margin: 0; */ 
    position: absolute;
    list-style: none;
    display:block;
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    font-size: .9rem;
    margin-top: 3.5em;
    left: 15vw;

}
.nav__link{
    color: #fff;
    text-decoration: none;
    text-transform:capitalize;
}


.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    
}

.nav__item{
    padding: .5em;
}



.nav__item + .nav__item{
    margin-left: 0em;
}


}